@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}

<script src="~/Scripts/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {
        var Alert = '@ViewBag.Message';

        if (Alert != 'NIL' && '@ViewBag.Status' == "Success") {


            swal({
                title: "congratulations!",
                text: '@ViewBag.Message',
                icon: "success",
                button: "ok",
            });
        }

        


    });
</script>



 <style>

     .intro-header {
	color: #f8f8f8;
	text-align: center;
}
 
.custom-tab-content{
color:#fff;
font-family: 'Open Sans', sans-serif;
}
 </style>
<!------ Include the above in your HEAD tag ---------->
<div class="intro-header">
    <div class="container" align="center">
        <div class="tab-content custom-tab-content" align="center">
            <div class="subscribe-panel">
                <h1>Newsletter!!!</h1>
                <p>Subscribe to our weekly Newsletter and stay tuned.</p>

                <form action="" method="post">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                            <input type="text" class="form-control input-lg" name="email" id="email" placeholder="Enter your Email" />
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <br /><br /><br />
                    <button class="btn btn-warning btn-lg">Subscribe Now!</button>
                </form>
            </div>
        </div>
    </div>
</div>
